.info-box-header {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.bio-container{
    display: flex;
    flex-flow: row;
    margin: 10px;
}

.chart-container {
    width: 100%;
}

.header.container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 30px;
}
.profile-pic {
    margin: 20px
}
@media only screen and (max-width: 1100px) {
    .player-profile-pic {
        width: 100%;
        height: auto;
    }
    .header.container {
        font-size: 13px;
  } 
  }

  @media only screen and (max-width: 1000px) {
    .header.container {
        display: flex;
        flex-flow: column;
        font-size: 16px;
  } 
}

@media only screen and (max-width: 650px) {
    .header.container {
        font-size: 13px;  
  } 
  .player-profile-pic {
    width: 80%;
    height: auto;
}
.profile-pic {
    margin-left: 0px;
    margin-right: 0px;
}
}

@media only screen and (max-width: 450px) {
    .bio-container{
        display: flex;
        flex-flow: column;
        margin: 10px;
    }
}

.player-background  {
   display: flex;
   flex-flow: column;
   align-items: flex-start;
}

.pip {
    margin-left: 5px;
    margin-right: 5px;
}

.hitting.headers {
    text-transform: capitalize;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.fielding.headers {
    text-transform: capitalize;
    cursor: pointer;
}

.pitching.headers {
    text-transform: capitalize;
    cursor: pointer;
}

.data.table {
    table-layout: fixed;
    width: 100%;  
}

@media only screen and (max-width: 900px) {
    .data.table {
        table-layout: auto;
        width: 100%;  
        overflow-x:auto;
    }
}

.table-stats-container {
    margin: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.table-team-image {
    max-width: 20px;
    max-height: 20px;
}

.table.rows:hover {
    background-color: lightgrey
}

.header.row{
    background-color: grey;
    border-radius: 4px;
}

.y-axis path {
    fill: none;
    stroke: none;
}

.y-axis {
    font-size: 12px;
    color: grey
}

.x-axis {
    font-size: 12px;
    color: grey
}

.y-axis line {
    fill: none;
    stroke: none;
    opacity: 0.7;
    stroke-dasharray: 3,3;
}

.x-axis path {
    fill: none;
    stroke: none;
}

.x-axis line {
    fill: none;
    stroke: none;
}
